{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1>TODO list</h1>
      </div>
      <div class="col-2">
        <a class="btn btn-primary ms-auto" href="{% url 'task-create' %}">Add</a>
      </div>
    </div>
  </div>

    {% for task in object_list %}
      <div class="container ">
        <div class="row">
          <div class="col-10">
            <h4>
              <span>{{ task.content }}</span>
              {% if not task.is_done %}
                <span style="color: red;">Not done</span>
              {% endif %}
            </h4>
            <p>
              created at: {{ task.datetime }}
              {% if task.deadline %}
                <span style="color: saddlebrown;">deadline: {{ task.deadline }}</span>
              {% endif %}
            </p>
            <p>tags:
              {% for tag in task.tag.all %}
                {{ tag.name }}
                <a  href="{% url 'task-update-tag' pk=task.pk %}">
                  Update
                </a>
                <a  href="{% url 'remove-tag' pk=task.pk tag_pk=tag.pk %}">
                  Remove
                </a>
              {% endfor %}
            </p>
          </div>

          <div class="col-2">
            {% if not task.is_done %}
              <a class="btn btn-success ms-auto" href="{% url 'task-toggle' task.pk %}">Complete</a>
            {% else %}
               <a class="btn btn-warning ms-auto" href="{% url 'task-toggle' task.pk %}">Undo</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}